{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Administrator Login {% endblock %}</h1>
    <hr>

    <form method='POST'>
        <label for="username">Username</label>
        <input type="text" id="username" name="username">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
        <button type="submit">Login</button>
    </form>

    {% if session.get('admin_logged_in') %}
        <!--rest of admin page goes here-->
        <p>admin page goes here!</p>
    {% endif %}
        <form method="POST" class="login-form">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="text" name="password" required>

            <button type="submit">Login</button>
        </form>
    

{% endblock %}