{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Administrator Login {% endblock %}</h1>

    {% if session.get('admin_logged_in') %}
        <!--rest of admin page goes here-->
        <p>admin page goes here!</p>
    {% endif %}
        <form method="POST" class="login-form">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="text" name="password" required>

            <button type="submit">Login</button>
        </form>
    

{% endblock %}