{% block content %}

    <h1>Seating Chart</h1>
    <div class="post">
        <p>SEATING MATRIX HERE</p>
        <!--- SEATING MATRIX HERE -->
    </div>

    <h1>Total Sales:</h1>
    <div class="post">
        <p>Money</p>
    </div>

    <h1>Reservation List</h1>
    {% for reservation in reservations %}
        <div class="post">
                <p><strong>Name: </strong> {{ reservation['passengerName'] }}</p>
                <p><strong>Row: </strong> {{ reservation['seatRow'] }}</p>
                <p><strong>Seat: </strong> {{ reservation['seatColumn'] }}</p>
                <p><strong>Ticket Confirmation: </strong> {{ reservation['eticketNumber'] }}</p>
        </div>
    {% endfor %}

    <form method="POST" class="login-form">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="text" name="password" required>

        <button type="submit">Login</button>
    </form>

{% endblock %}