{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Reservations {% endblock %}</h1>

    <form method='POST'>
        <label for "FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName"> <br><br>

        <label for "LastName"> Last Name</label>
        <input type="text" id="LastName" name="LastName"><br><br>

        <label for "seatRows">Select Row: </label>
        <select id="seatRows" name="SeatRows">
            <option value="null"></option><br><br>
        </select>

        <label for "seatColumns">Select Row: </label>
        <select id="seatRows" name="SeatColumns">
            <option value="null"></option>
        </select><br><br>

        <button type="submit"> Submit Reservation! </button>

    </form>

{% endblock %}